<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Explore Campgrounds</a>
                    <ul class="dropdown-menu">
                        <% let allFinds=[{ field: "latest" , label: "Latest Campgrounds" }, { field: "earliest" , label: "Earliest Campgrounds" }, { field: "top-rated" , label: "Top Rated Campgrounds" }, { field: "premium" , label: "Premium Campgrounds" }, { field: "economic" , label: "Economic Campgrounds" }, { field: "title-asc" , label: "Campground Title [A-Z]" }, { field: "title-desc" , label: "Campground Title [Z-A]" }, { field: "location-asc" , label: "Campground Location [A-Z]" }, { field: "location-desc" , label: "Campground Location [Z-A]" }] %>
                        <% for(let find of allFinds){ %>
                            <% if((current && current.find) && current.find === find.field) { %>
                                <li class="text-bg-info"><a class="dropdown-item" href="/campgrounds?find=<%=find.field%>" style="pointer-events: none"><%=find.label%></a></li>
                                <% } else { %>
                                    <li><a class="dropdown-item" href="/campgrounds?find=<%=find.field%>"><%=find.label%></a></li>
                                    <% } %>
                                        <% } %>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Campground Categories</a>
                    <ul class="dropdown-menu">
                        <% let allSelects=[{ field: "Types" , label: "Campground Types" }, { field: "Locations" , label: "Campground Locations" }, { field: "Amenities" , label: "Campground Amenities" }, { field: "Activities" , label: "Campground Activities" }] %>
                        <% for(let select of allSelects){ %>
                            <% if((category) && category === select.field) { %>
                                <li class="text-bg-info"><a class="dropdown-item" href="/campgrounds/categories?category=<%=select.field%>" style="pointer-events: none"><%=select.label%></a></li>
                                <% } else { %>
                                    <li><a class="dropdown-item" href="/campgrounds/categories?category=<%=select.field%>"><%=select.label%></a></li>
                                    <% } %>
                                        <% } %>
                    </ul>
                </li>
                <a class="nav-link" href="/campgrounds/new">Add Campgrounds</a>
            </div>
            <div class="navbar-nav ms-auto">
                <% if(!currentUser) { %>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                    <% } else { %>
                        <a class="navbar-brand">Welcome, <%=currentUser.username%></a>
                        <form action="/logout" method="post" class="nav-link">
                            <button type="submit" class="btn btn-danger btn-sm">Logout</button>
                        </form>
                        <% } %>
            </div>
        </div>
    </div>
</nav>