<% layout('/layouts/BoilerPlate') %>
    <div class="row">
        <h1 class="text-center">Edit a campground</h1>
        <div class="col-lg-6 offset-lg-3">
            <form action="/campgrounds?_method=PATCH" method="post" class="needs-validation d-inline" novalidate>
                <% let firstPage=(!categoryAvailable && !places); %>
                    <% let secondPage=(!categoryAvailable && places); %>
                        <% let thirdPage=(places && categoryAvailable); %>
                            <% let percentageFinished=(firstPage) ? 33 : ((secondPage) ? 66 : 100) %>
                                <% if(campground.images.length> 0) { %>
                                    <div id="campgroundCarousel" class="carousel slide mt-2 mb-3"
                                        data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                            <% campground.images.forEach((image, index)=> { %>
                                                <div class="carousel-item <%= (index === 0) ? 'active' : '' %>"
                                                    data-bs-interval="5000">
                                                    <a href="<%=image.url%>"><img src="<%=image.cardImage%>" alt=""
                                                            class="d-block w-100 pointer" title="Click to view Image"
                                                            crossorigin></a>
                                                </div>
                                                <% }); %>
                                        </div>
                                        <% if(campground.images.length> 1) { %>
                                            <button class="carousel-control-prev" type="button"
                                                data-bs-target="#campgroundCarousel" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button"
                                                data-bs-target="#campgroundCarousel" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                            <% } %>
                                    </div>
                                    <% } else { %>
                                        <img src="https://res.cloudinary.com/dtwgxcqkr/image/upload/v1675496482/YelpCamp%20Related%20Media/No_Image_Available_onn3wa.webp"
                                            alt="No Image Available" class="img-fluid mt-2" crossorigin>
                                        <% } %>
                                            <div class="progress mt-3 mb-3" role="progressbar"
                                                aria-valuenow="<%=percentageFinished%>" aria-valuemin="0"
                                                aria-valuemax="100">
                                                <div class="progress-bar overflow-visible text-dark progress-bar-striped progress-bar-animated p-1"
                                                    style="width: <%=percentageFinished%>%">
                                                    Editing Campground (<%=percentageFinished%>%)
                                                </div>
                                            </div>
                                            <p class="mb-2 mt-2 mandatory">* Mandatory Fields</p>
                                            <div class="mb-3 d-none">
                                                <label for="id" class="form-label">Registration Id : </label>
                                                <input type="text" class="form-control" name="id" id="id"
                                                    value="<%=campground._id%>" readonly>
                                            </div>
                                            <div class="mb-3 d-none">
                                                <label for="author" class="form-label">Author Id : </label>
                                                <input type="text" class="form-control" name="campground[author]"
                                                    id="author" value="<%=campground.author._id%>" readonly>
                                            </div>
                                            <% if(firstPage) { %>
                                                <div class="mb-3 <%=(firstPage)?'':'d-none'%>">
                                                    <label for="title" class="form-label">Campground Title<span
                                                            class="mandatory">*</span>
                                                        :
                                                    </label>
                                                    <input type="text" class="form-control" name="campground[title]"
                                                        id="title" placeholder="Enter campground title"
                                                        value="<%=campground.title%>" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        Please provide a valid title.
                                                    </div>
                                                </div>
                                                <div class="mb-3 <%=(firstPage)?'':'d-none'%>">
                                                    <label for="location" class="form-label">Campground Location<span
                                                            class="mandatory">*</span> :
                                                    </label>
                                                    <input type="text" class="form-control" name="campground[location]"
                                                        id="location" placeholder="Enter campground location"
                                                        value="<%=campground.location%>" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        Please provide a valid location.
                                                    </div>
                                                </div>
                                                <div class="mb-3 <%=(firstPage)?'':'d-none'%>">
                                                    <label for="price" class="form-label">Campground Price<span
                                                            class="mandatory">*</span>
                                                        :
                                                    </label>
                                                    <div class="input-group">
                                                        <span class="input-group-text">Rupees </span>
                                                        <input type="text" class="form-control" name="campground[price]"
                                                            id="price" placeholder="Enter campground price"
                                                            value="<%=campground.price%>" required>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Please provide a valid price.
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } else if(secondPage) { %>
                                                    <div class="mb-3 <%=(secondPage)?'':'d-none'%>">
                                                        <label for="accurateLocation" class="form-label">Select the Location that best suits your Campground<span class="mandatory">*</span> :
                                                        </label>
                                                        <select class="form-select" name="campground[accurateLocation]"
                                                            id="accurateLocation">
                                                            <% for(let place of places) { %>
                                                                <option value="<%=place.place_name%>">
                                                                    <%=place.place_name%>
                                                                </option>
                                                                <% } %>
                                                        </select>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Please select a valid location.
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 <%=(secondPage)?'':'d-none'%>">
                                                        <label for="description" class="form-label">Campground Description (Optional) :
                                                        </label>
                                                        <textarea class="form-control" name="campground[description]"
                                                            id="description" cols="30" rows="3"
                                                            placeholder="Enter campground description"><% if(campground.description) { %><%=campground.description%><% } %></textarea>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                    </div>
                                                    <% } else if(thirdPage) { %>
                                                        <% for(let category in categories){ %>
                                                            <div class="mb-3 <%=(thirdPage)?'':'d-none'%>">
                                                                <label class="form-label">Select Campground
                                                                    <%=categories[category].formLabel%><span
                                                                            class="mandatory">*</span> :
                                                                </label>
                                                                <br>
                                                                <% for(let value of categories[category].values) { %>
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio"
                                                                            name="campground[categories][<%=categories[category].key%>]"
                                                                            id="category_<%=categories[category].key%>_<%=value%>"
                                                                            value="<%=value%>" 
                                                                            <% if(value===campground.categories[`${categories[category].key}`]) { %>
                                                                        checked
                                                                        <% } %>
                                                                            >
                                                                            <label class="form-check-label text-capitalize"
                                                                                for="category_<%=categories[category].key%>_<%=value%>">
                                                                                <%=value%>
                                                                            </label>
                                                                    </div>
                                                                    <% } %>
                                                            </div>
                                                            <% } %>
                                                                <% } %>
                                                                    <div <%=(thirdPage)?'':'class=d-none'%>>
                                                                        <label class="form-label mb-3">To edit, click
                                                                            on submit</label>
                                                                    </div>
                                                                    <button type="submit" class="btn btn-success btn-sm">
                                                                        <% if(thirdPage) { %>
                                                                            Submit
                                                                            <% } else if(secondPage) { %>
                                                                                Continue
                                                                                <% } else { %>
                                                                                    Find Location
                                                                                    <% } %>
                                                                    </button>
                                                                    <button type="reset"
                                                                        class="btn btn-danger btn-sm">Reset</button>
            </form>
            <a href="/campgrounds/<%=campground._id%>" class="btn btn-secondary btn-sm">Discard Changes</a>
        </div>
    </div>