<% layout('/layouts/BoilerPlate') %>
    <% if(!errorMessage) { %>
        <div id="clusterMap" class="mb-3"></div>
        <h1>All Campgrounds</h1>
        <a href="/" class="btn btn-secondary btn-sm">Go Home</a>
        <a href="/campgrounds/new" class="btn btn-success btn-sm">New</a>
        <br><br>
        <% for (let campground of campgrounds) { %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <% if(campground.images[0]) { %>
                            <a href="<%=campground.images[0].url%>" title="Click to view Image">
                                <img src="<%=campground.images[0].cardImage%>" alt="Campground Image"
                                    class="img-fluid h-100 w-100">
                            </a>
                            <% } else {%>
                                <img src="https://res.cloudinary.com/dtwgxcqkr/image/upload/v1675496482/YelpCamp%20Related%20Media/No_Image_Available_onn3wa.webp"
                                    alt="No Image Available" class="img-fluid">
                                <% } %>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body py-5">
                            <h1 class="card-title">
                                <%=campground.title%>
                            </h1>
                            <div class="card-text mb-3">
                                <small class="text-muted">
                                    <%=campground.location%>
                                </small>
                                <p class="mt-3">
                                    <b>Price:</b> Rs. <%=campground.price%>/-
                                </p>
                                <p class="mt-3">
                                    <b>Suggested By:</b>
                                    <%=campground.author.username%>
                                </p>
                                <p class="mt-3">
                                    <%=campground.description%>
                                </p>
                            </div>
                            <a href="/campgrounds/<%=campground._id%>" class="card-link btn btn-primary btn-sm">View</a>
                            <% if(currentUser && currentUser.equals(campground.author)) { %>
                                <a href="/campgrounds/<%=campground._id%>/manage"
                                    class="card-link btn btn-info btn-sm">Manage</a>
                                <a href="/campgrounds/<%=campground._id%>/edit"
                                    class="card-link btn btn-warning btn-sm">Edit</a>
                                <a href="/campgrounds/<%=campground._id%>/remove"
                                    class="card-link btn btn-danger btn-sm">Delete</a>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
                <script>
                    let mapboxToken = `<%-process.env.MAPBOX_TOKEN%>`;
                    let campgrounds = `<%-JSON.stringify(campgrounds)%>`
                </script>
                <script src="/JS/Cluster Map.js"></script>
                <% } else { %>
                    <h1>All Campgrounds</h1>
                    <p>
                        <%= errorMessage %>
                    </p>
                    <a href="/" class="btn btn-secondary btn-sm">Go Home</a>
                    <a href="/campgrounds/new" class="btn btn-success btn-sm">New</a>
                    <% } %>