<% layout('/layouts/BoilerPlate') %>
    <h1>Remove a campground</h1>
    <form action="/campgrounds?_method=DELETE" method="post">
        <label for="id">Registration Id : </label>
        <input style="width: 180px;" type="text" name="id" id="id" value=<%=campground._id %> readonly>
        <p>
            Campground Title : <%= campground.title %>
        </p>
        <p>
            Campground Price : Rs. <%= campground.price %>/-
        </p>
        <p>
            Campground Location : <%= campground.location %>
        </p>
        <p>
            Campground Description : <%= campground.description ? campground.description : 'none' %>
        </p>
        <p>To remove, click on submit</p>
        <input type="submit" value="Submit">
    </form>
    <br>
    <button><a href="/campgrounds"><b>Go Back</b></a></button>