<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=campground.title%>
    </title>
    <style>
        a {
            color: purple;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <h1>
        <%=campground.title%>
    </h1>
    <p>
        Registrarion Id : <%=campground._id %>
    </p>
    <p>
        Price : Rs. <%=campground.price %>/-
    </p>
    <p>
        Location : <%=campground.location %>
    </p>
    <p>
        Description : <%= (campground.description) ? campground.description : "None" %>
    </p>
    <button><a href="/campgrounds"><b>Go Back</b></a></button>
    <button><a href="/campgrounds/<%=campground._id%>/edit"><b>Edit</b></a></button>
</body>

</html>