<% layout('/layouts/BoilerPlate') %>
    <link rel="stylesheet" href="/CSS/Star Rating.css">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 mb-3">
            <div class="card">
                <% if(campground.images.length> 0) { %>
                    <div id="campgroundCarousel" class="carousel slide card-img-top" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <% campground.images.forEach((image, index)=> { %>
                                <div class="carousel-item <%= (index === 0) ? 'active' : '' %>" data-bs-interval="5000">
                                    <a href="<%=image.url%>"><img src="<%=image.cardImage%>" alt=""
                                            class="d-block w-100 pointer" title="Click to view Image" crossorigin></a>
                                </div>
                                <% }); %>
                        </div>
                        <% if(campground.images.length> 1) { %>
                            <button class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousel"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#campgroundCarousel"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            <% } %>
                    </div>
                    <% } else {%>
                        <img src="https://res.cloudinary.com/dtwgxcqkr/image/upload/v1675496482/YelpCamp%20Related%20Media/No_Image_Available_onn3wa.webp"
                            alt="No Image Available" class="img-fluid" crossorigin>
                        <% } %>
                            <div class="card-body">
                                <h1 class="card-title">
                                    <%=campground.title%>
                                </h1>
                                <p class="card-text text-muted">
                                    <%=campground.location %>
                                </p>
                                <div class="card-text mb-3">
                                    <% for(let i=0; i < 5; i++) { %>
                                        <% if(i < floorRating) { %>
                                            <i class="fas fa-star" style="color: #ffd700;"></i>
                                            <% } else if((campground.avgRating - i)> 0 && (campground.avgRating - i) < 1) { %>
                                                    <i class="fas fa-star-half-alt" style="color: #ffd700;"></i>
                                                    <% } else { %>
                                                        <i class="far fa-star" style="color: #ffd700;"></i>
                                                        <% } %>
                                                            <% } %>
                                                                <%= campground.avgRating %>
                                                                    (<%= campground.reviews.length %>)
                                </div>
                                <% for(let category in categories) { %>
                                    <a href="/campgrounds?select=<%=campground.categories[categories[category].key]%>"><span class="badge text-bg-dark"><%=campground.categories[categories[category].key]%></span></a>
                                    <% } %>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <b>Registration Id:</b>
                                    <%=campground._id %>
                                </li>
                                <li class="list-group-item">
                                    <b>Suggested By:</b>
                                    <%=campground.author.name%> <a href="/campgrounds?user=<%=campground.author.username%>" title="View <%=campground.author.name%>" class="text-decoration-none"><%=`(@${campground.author.username})`%></a>
                                </li>
                                <li class="list-group-item">
                                    <b>Price:</b> Rs. <%=campground.price %>/-
                                </li>
                                <li class="list-group-item">
                                    <b>About:</b>
                                    <%= (campground.description) ? campground.description : "None" %>
                                </li>
                                <li class="list-group-item">
                                    <b>Created on:</b>
                                    <%=campground.addedOn.toLocaleString()%>
                                </li>
                            </ul>
                            <% if(currentUser && currentUser.equals(campground.author)) { %>
                                <nav class="navbar navbar-expand-lg navbar-light bg-white">
                                    <div class="container-fluid">
                                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#options">&darr;</button>
                                        <div class="collapse navbar-collapse" id="options">
                                            <div class="navbar-nav">
                                                <div class="mt-3 me-3">
                                                    <a class="nav-link border border-dark-subtle rounded-2 btn btn-outline-secondary btn-sm"
                                                        href="/campgrounds"><b>Go
                                                            Back</b></a>
                                                </div>
                                                <div class="mt-3 me-3">
                                                    <a class="nav-link border border-dark-subtle rounded-2 btn btn-outline-info btn-sm"
                                                        href="/campgrounds/<%=campground._id%>/manage"><b>Manage
                                                            Photos</b></a>
                                                </div>
                                                <div class="mt-3 me-3">
                                                    <a class="nav-link border border-dark-subtle rounded-2 btn btn-outline-warning btn-sm"
                                                        href="/campgrounds/<%=campground._id%>/edit"><b>Edit
                                                            Campground</b></a>
                                                </div>
                                                <div class="mt-3 me-3">
                                                    <a class="nav-link border border-dark-subtle rounded-2 btn btn-outline-danger btn-sm"
                                                        href="/campgrounds/<%=campground._id%>/remove"><b>Delete
                                                            Campground</b></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                                <% } %>
            </div>
            <% if(!(currentUser && currentUser.equals(campground.author))) { %>
                <a href="/campgrounds" class="card-link btn btn-secondary btn-sm mt-3">Go Back</a>
                <% } %>
        </div>
        <div class="col-lg-6">
            <div id="campgroundMap" class="mb-3"></div>
            <div class="card mb-3">
                <div class="card-header">
                    <h4>Leave a Review</h4>
                </div>
                <% if(currentUser) { %>
                    <div class="card-body">
                        <form action="/campgrounds/<%=campground._id%>/reviews" method="post" class="needs-validation"
                            novalidate>
                            <fieldset class="starability-coinFlip">
                                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0"
                                    checked aria-label="No rating." />
                                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                <label for="first-rate5" title="Amazing">5 stars</label>
                            </fieldset>
                            <div class="mb-3">
                                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3"
                                    placeholder="Give us your feedback" required></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please provide us your feeback.
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success btn-sm">Submit</button>
                            <button type="reset" class="btn btn-danger btn-sm">Reset</button>
                        </form>
                    </div>
                    <% } else { %>
                        <div class="card-body">
                            <h6 class="card-title mb-3">Login or Register to Continue</h6>
                            <a class="btn btn-primary btn-sm" href="/login">Login</a>
                            <a class="btn btn-success btn-sm" href="/register">Register</a>
                        </div>
                        <% } %>
            </div>
            <% if(campground.reviews.length) { %>
                <div class="card">
                    <div class="card-header">
                        <h2>Reviews</h2>
                    </div>
                    <div class="card-body">
                        <% for(let review of campground.reviews) { %>
                            <div class="card mb-3">
                                <div class="card-header d-flex flex-wrap justify-content-between"><b>
                                    <%=review.author.name%> <a href="/campgrounds?user=<%=review.author.username%>" title="View <%=review.author.name%>" class="text-decoration-none"><%=`(@${review.author.username})`%></a>
                                    </b><span class="starability-result" data-rating="<%= review.rating %>">Rated: <%=
                                            review.rating %> stars</span></div>
                                <div class="card-body">
                                    <p class="review">
                                        <%= review.body %>
                                    </p>
                                    <% if(currentUser && currentUser.equals(review.author)) { %>
                                        <form
                                            action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE"
                                            method="post">
                                            <button class="card-link btn btn-danger btn-sm">Delete</button>
                                        </form>
                                        <% } %>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
    <script>
        let mapboxToken = `<%-process.env.MAPBOX_TOKEN%>`;
        let campground = `<%-JSON.stringify(campground)%>`;
    </script>
    <script src="/JS/Campground Map.js"></script>